body {
    margin: 60px auto;
    width: 70%;
    background-color:lightblue;
}
nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: 'Roboto', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    /*font-color: #0c005f;*/
    font-color: blue;
    font-size: 200%;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #e50914;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Roboto', serif;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    align: justify;
    font-family: 'Roboto', serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
    text-align: justify;
}

ul.posts li {
    list-style: none;
    font-size:1.5em;
}
ul.posts li p{
    list-style: none;
    font-size:1.0em;
    text-align:justify;
}
.main-content img {
   float: left;
   padding: 0 20px 20px 0;
}
