<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style="color:blue;"><a href="/">Home</a></li>
		        	<li style="color:blue;"><a href="/about">About</a></li>
				<li style="color:blue;"><a href="/services">Services</a></li>
	        		<li style="color:blue;"><a href="/blog">Blog</a></li>
				<li style="color:blue;"><a href="/contact">Contact Details</a></li>
				<li style="color:blue;"><a href="/cv">Our People</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:martdatanalytics@gmail.com">martdatanalytics@gmail.com</a></li>
	        		<!--<li><a href="https://github.com/martdatanalytics">github.com/martdatanalytics</a></li>-->
				</ul>
			</footer>
		</body>
	</html>
