<!DOCTYPE html>
	<html>
		<head>
			<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-54QB9RP');</script>
<!-- End Google Tag Manager -->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="description" content="MarDat Analytics Inc is committed to the development of the statistical sciences within and beyond the 
	university. At the centre of our business model, we recognises that there is a need to provide quantitative 
	and data analysis skills to students in other disciplines. We seek to cover the skills gaps in terms of data coding,
analysis and results intepretation for the benefit of our clients.">
			<meta name="keywords" content="Data Analysis, Data, Thohoyandou, University of Venda, Harare, Analysis, SPSS, Coding">
			<meta property="og:title" content="Data Analysis, Data, Thohoyandou, University of Venda, Harare, Analysis, SPSS, Coding" />
<meta property="og:description" content="MarDat Analytics Inc is committed to the development of the statistical sciences within and beyond the 
	university. At the centre of our business model, we recognises that there is a need to provide quantitative 
	and data analysis skills to students in other disciplines. We seek to cover the skills gaps in terms of data coding,
analysis and results intepretation for the benefit of our clients." />
			<meta name="author" content="www.martdatanalytics.com">
		</head>
		<body>
			<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54QB9RP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
			<nav>
	    		<ul>
	        		<li style="color:blue;"><a href="/">Home</a></li>
		        	<li style="color:blue;"><a href="/about">About</a></li>
				<li style="color:blue;"><a href="/services">Services</a></li>
	        		<li style="color:blue;"><a href="/blog">Blog</a></li>
				<li style="color:blue;"><a href="/contact">Contact Details</a></li>
				<li style="color:blue;"><a href="/cv">Our People</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:martdatanalytics@gmail.com">martdatanalytics@gmail.com</a></li>
	        		<!--<li><a href="https://github.com/martdatanalytics">github.com/martdatanalytics</a></li>-->
				</ul>
			</footer>
			Copyright &copy 2018 MartDat Analytics Inc. All rights reverved.
		</body>
	</html>
